- content_for :title, "Help"
%section#help(role="help")
  .page-body
    .row.knowledgebase
      .twelve.columns
        %iframe(src="http://docs.optimizeplayer.com" width="100%" height="400" frameborder="0" scrolling="no" )
