!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
  %body
    %h1
      Optimize player
    %p
      Your account has been suspended,
      %br
    %p
      %a{href: "#{@mail_data[:root_url]}"} Optimize player
    %p Have a nice day!