/* Inputs */
label {
	font-weight: normal;
}

input[type=radio] {
	display: none;
	
	+ label {
		display: inline-block;
		height: 18px;
		margin: 0;
		padding-left: 20px;
		cursor: pointer;
		background: url("/assets/icons/icon-radio.png") no-repeat 0 2px transparent;
		background-size: 14px;
	}

	&:checked + label {
		background-position: 0 -17px;
	}
}

input[type=checkbox] {
	display: none;
	
	+ label {
		display: inline-block;
		height: 18px;
		margin: 0;
		padding-left: 20px;
		cursor: pointer;
		background: url("/assets/icons/icon-checkbox.png") no-repeat 0 2px transparent;
		background-size: 14px;
	} 
	
	&:checked + label {
		background-position: 0 -17px;
	}
}

input[type=text], input[type=password], input[type=email] {
	padding-left: 4px;
	padding-right: 4px;
	border: 1px solid #dfedee;
	border-radius: 2px;
	color: #6996a9;
}

.form-control, input, button {
  box-shadow: none;
}
.form-control {
  border-color: #d4e6e8 !important;
}

.color-input {
	.input-group {
		position: relative;
		margin: 6px 0;
	}

	.input-group i {
		position: absolute;
		top: 7px;
		left: 9px;
		width: 10px;
		height: 10px;
		border-radius: 50%;
	}

	.input-group input[type=text] {
		width: 100%;
		padding-left: 25px;
	}

	.range-opacity input.percent {
		width: 47px;
	}
}

::-webkit-input-placeholder {
  color: #d4e6e8 !important;
}

:-moz-placeholder {
  color: #d4e6e8 !important;
}

::-moz-placeholder {
  color: #d4e6e8 !important;
}

:-ms-input-placeholder {  
  color: #d4e6e8 !important;
}