@import "compass/css3";
// Icons
[class^="picon"], [class*=" picon"]  {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-top: 0px;
  *margin-right: .3em;
  line-height: 16px;
  vertical-align: text-top;
  background-image: url("/assets/picons.png");
  background-position: 0px 0px;
  background-repeat: no-repeat;

  &.picon-close {
    background-position: 0px 0px;
  }
  &.picon-play {
    background-position: 0px -26px;
  }
  &.picon-pause {
    background-position: 0px -52px;
  }
  &.picon-new {
    background-position: 0px -78px;
  }
  &.picon-dismiss {
    background-position: 0px -104px;
  }
  &.picon-gift {
    background-position: 0px -130px;
  }
  &.picon-calendar {
    background-position: 0px -156px;
  }
  &.picon-code {
    background-position: 0px -182px;
  }
  &.picon-edit {
    background-position: 0px -208px;
  }
  &.picon-comment {
    background-position: 0px -234px;
  }
  &.picon-file-amazon {
    background-position: 0px -260px;
  }
  &.picon-audio {
    background-position: 0px -286px;
  }
  &.picon-video {
    background-position: 0px -312px;
  }
  &.picon-close-lightgray {
    background-position: 0px -338px;
  }
  &.picon-edit-lightgray {
    background-position: 0px -364px;
  }
  &.picon-creditcard {
    background-position: 0px -390px;
  }
  &.picon-moneyhistory {
    background-position: 0px -416px;
  }
  &.picon-record {
    background-position: 0px -442px;
  }
  &.picon-close-small {
    background-position: 0px -468px;
  }
  &.picon-video-add {
    background-position: 0px -494px;
  }
  &.picon-search {
    background-position: 0px -520px;
  }
  &.picon-user-gray {
    background-position: 0px -546px;
  }
  &.picon-billing-gray {
    background-position: 0px -572px;
  }
  &.picon-team-gray {
    background-position: 0px -598px;
  }
  &.picon-connection-gray {
    background-position: 0px -624px;
  }
  &.picon-logout-gray {
    background-position: 0px -650px;
  }
  &.picon-user {
    background-position: -26px 0px;
  }
  &.picon-money {
    background-position: -26px -26px;
  }
  &.picon-team {
    background-position: -26px -52px;
  }
  &.picon-encoding {
    background-position: -26px -78px;
  }
  &.picon-cloud {
    background-position: -26px -104px;
  }
  &.picon-email {
    background-position: -26px -130px;
  }
  &.picon-lock {
    background-position: -26px -156px;
  }
  &.picon-trash {
    background-position: -26px -182px;
  }
  &.picon-plus {
    background-position: -26px -208px;
  }
  &.picon-edit-white {
    background-position: -26px -234px;
  }
  &.picon-close-white {
    background-position: -26px -260px;
  }
  &.picon-queue {
    background-position: -26px -286px;
  }
  &.picon-new-white {
    background-position: -26px -312px;
  }
  &.picon-settings {
    background-position: -26px -338px;
  }
  &.picon-code-white {
    background-position: -26px -364px;
  }
  &.picon-encoder {
    background-position: -26px -390px;
  }
  &.picon-connection {
    background-position: -26px -416px;
  }
  &.picon-cancel {
    background-position: -26px -442px;
  }
  &.picon-status-on {
    background-position: -52px 0px;
  }
  &.picon-status-off {
    background-position: -52px -26px;
  }
  &.picon-favourite-off {
    background-position: -52px -52px;
  }
  &.picon-favourite-on {
    background-position: -52px -78px;
    &.blue {
      background-image: url('/assets/star-hack.png')
    }
  }
  &.picon-search-blue {
    background-position: -52px -104px;
  }
  &.picon-audio-blue {
    background-position: -52px -130px;
  }
  &.picon-audio-black {
    background-position: -52px -156px;
  }
  &.picon-video-blue {
    background-position: -52px -182px;
  }
  &.picon-video-black {
    background-position: -52px -208px;
  }
  &.picon-calendar-blue {
    background-position: -52px -234px;
  }
  &.picon-code-blue {
    background-position: -52px -260px;
  }
  &.picon-edit-blue {
    background-position: -52px -286px;
  }
  &.picon-comment-blue {
    background-position: -52px -312px;
  }
  &.picon-close-blue {
    background-position: -52px -338px;
  }
  &.picon-folder-m {
    background-position: -52px -364px;
  }
  &.picon-folder-p {
    background-position: -52px -390px;
  }
  &.picon-plus-green {
    background-position: -52px -416px;
  }
  &.picon-ok {
    background-position: -52px -442px;
  }
  &.picon-attention {
    background-position: -52px -468px;
  }
  &.picon-checkbox-false {
    background-position: -52px -494px;
  }
  &.picon-folder-p-blue {
    background-position: -52px -520px;
  }
  &.picon-folder-p-green {
    background-position: -52px -546px;
  }
  &.picon-box-expand {
    background-position: -52px -572px;
  }
  &.picon-box-contract {
    background-position: -52px -598px;
  }
  &.picon-increase {
    background-position: -52px -624px;
  }
  &.picon-decrease {
    background-position: -52px -650px;
  }
  &.picon-circle-blue {
    background-position: -52px -676px;
  }
}

[class^="pbigicon"], [class*=" pbigicon"]  {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-top: 0px;
  margin-right: 5px;
  *margin-right: .3em;
  line-height: 20px;
  vertical-align: text-top;
  background-image: url("/assets/pbigicons.png");
  background-position: 0px 0px;
  background-repeat: no-repeat;

  &.pbigicon-user {
    background-position: 0px 0px;
  }
  &.pbigicon-start {
    background-position: 0px -30px;
  }
  &.pbigicon-news {
    background-position: 0px -60px;
  }
  &.pbigicon-favourite {
    background-position: 0px -90px;
  }
  &.pbigicon-embed {
    background-position: 0px -120px;
  }
  &.pbigicon-mail {
    background-position: 0px -150px;
  }
  &.pbigicon-search {
    background-position: 0px -180px;
  }
}
