%h5 Google Analytics
.analytics
  .input-prepend.clearfix
    %span.add-on
      %i.icon-reorder
    %input(name="google_analytics" ng-model="project.analytics" placeholder="Enter Google Analytics ID" type="text")/
