%table#email-invite(width="100%" border="0" cellpadding="0" cellspacing="0" style="margin-left:auto; margin-right:auto; max-width:600px;")
	%tr
		%td(colspan="3" align="center" style="padding-top: 25px; padding-bottom: 25px;")
			= image_tag("logo.png", width: "263px", height:"34px", alt: "OptimizePlayer", style: "display:block;")
	%tr
		%td(colspan="3" align="center" style="border-color: #d4e6e8; border-width: 2px 2px 0px 2px; border-style: solid; padding-top:35px; padding-bottom:25px; border-top-right-radius:4px; border-top-left-radius:4px; background-image:url(assets/email-top-bg.png); background-color:#ffffff; background-repeat:repeat-x;")
			%div(style="width:110px; margin:0 auto; border:2px solid #6896aa; background-color:#ffffff; padding:4px; border-radius:4px;")
				= image_tag("user-test.png", width: "108px", height:"108px", alt: "User", style: "display:block; border-radius:4px;")
	%tr(bgcolor="#FFFFFF")
		%td(colspan="3" align="center" style="border-color: #d4e6e8; border-width: 0px 2px 0px 2px; border-style: solid; padding-left: 80px; padding-right: 80px;")
			%span(style="color:#33444c; font-size:28px; font-family:'HelveticaNeue',Helvetica,Arial,sans-serif;")
				Jan Markeljc 
				%a(href="#" style="color:#6996a9; font-size:28px; font-family:'HelveticaNeue',Helvetica,Arial,sans-serif; text-decoration:none;")
					invited you to join a project on OptimizePlayer
	%tr(bgcolor="#FFFFFF")
		%td(colspan="3" align="center" style="border-color: #d4e6e8; border-width: 0px 2px 0px 2px; border-style: solid; padding-top: 45px;")
			%span(style="color:#000000; font-size:28px; font-family:'HelveticaNeue',Helvetica,Arial,sans-serif;")
				Your login details:
	%tr(bgcolor="#FFFFFF")
		%td(align="right" width="36%" style="border-color: #d4e6e8; border-width: 0px 0px 0px 2px; border-style: solid; padding-top: 25px;")
			= image_tag("icons/icon-email.png", width: "28px", height:"22px", alt: "Email", style: "display:block;")
		%td(align="left" style="padding-top:25px; padding-left:25px;")
			%span(style="color:#000000; font-size:28px; font-family:'HelveticaNeue',Helvetica,Arial,sans-serif;")
				tesha@bizlaunchequity.com
		%td(align="right" width="36%" style="border-color: #d4e6e8; border-width: 0px 2px 0px 0px; border-style: solid;")
	%tr(bgcolor="#FFFFFF")
		%td(align="right" width="36%" style="border-color: #d4e6e8; border-width: 0px 0px 0px 2px; border-style: solid; padding-top: 25px;")
			= image_tag("icons/icon-password.png", width: "20px", height:"26px", alt: "Password", style: "display:block;")
		%td(align="left" style="padding-top:20px; padding-left:25px;")
			%span(style="color:#000000; font-size:28px; font-family:'HelveticaNeue',Helvetica,Arial,sans-serif;")
				jY728dkskYWUWQQ
		%td(align="right" width="36%" style="border-color: #d4e6e8; border-width: 0px 2px 0px 0px; border-style: solid;")
	%tr(bgcolor="#FFFFFF")
		%td(colspan="3" align="center" style="border-color: #d4e6e8; border-width: 0px 2px 0px 2px; border-style: solid; padding-top: 25px;")
			%a(href="#" style="color:#ffffff; font-size:30px; font-family:'HelveticaNeue',Helvetica,Arial,sans-serif; background-color:#1ca8dd; text-decoration:none; border: 2px solid #148fbd; padding: 8px 21px; border-radius: 4px;")
				Login Now
	%tr(bgcolor="#FFFFFF")
		%td(colspan="3" align="center" style="border-color: #d4e6e8; border-width: 0px 2px 2px 2px; border-style: solid; padding-top: 35px; padding-left: 45px; padding-right: 45px; padding-bottom: 45px; border-bottom-right-radius:4px; border-bottom-left-radius:4px;")
			%span(style="color:#6996a9; font-size:18px; font-family:'HelveticaNeue',Helvetica,Arial,sans-serif; font-style:italic")
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut.