%table#email-payment(width="100%" border="0" cellpadding="0" cellspacing="0" style="margin-left:auto; margin-right:auto; max-width:600px;")
	%tr
		%td(colspan="2" align="center" style="padding-top: 25px; padding-bottom: 25px;")
	%tr(bgcolor="#FFFFFF")
		%td(colspan="2" style="padding-bottom:80px; border-color: #d4e6e8; border-width: 2px 2px 0px 2px; border-style: solid; border-top-left-radius:4px; border-top-right-radius:4px;")
			%table(width="100%" border="0" cellpadding="0" cellspacing="0")
				%tr
					%td(valign="top" align="right" style="padding-top:35px; padding-left:25px; padding-right:25px;")
						%div(style="width:110px; margin:0 auto; border:2px solid #6896aa; background-color:#ffffff; padding:4px; border-radius:4px;")
							= image_tag("user-test.png", width: "108px", height:"108px", alt: "User", style: "display:block; border-radius:4px;")
					%td(valign="top" align="left" style="padding-top:35px; padding-right:25px;")
						%div(style="color:#6996a9; font-size:28px; font-family:'HelveticaNeue',Helvetica,Arial,sans-serif; padding-bottom: 20px;")
							Thanks for buying
						%div(style="color:#6996a9; font-size:18px; font-family:'HelveticaNeue',Helvetica,Arial,sans-serif;")
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.
	%tr(bgcolor="#f1f7f8")
		%td(align="left" style="border-color: #d4e6e8; border-width: 2px 1px 1px 2px; border-style: solid; padding:20px;")
			%span(style="color:#6996a9; font-size:20px; font-family:'HelveticaNeue',Helvetica,Arial,sans-serif;")
				Payment From
				%br
				info.info@email.com
		%td(align="left" style="border-color: #d4e6e8; border-width: 2px 2px 1px 1px; border-style: solid; padding:20px;")
			%span(style="color:#6996a9; font-size:20px; font-family:'HelveticaNeue',Helvetica,Arial,sans-serif;")
				Payment To
				%br
				info.info@email.com
	%tr(bgcolor="#f1f7f8")
		%td(align="left" style="border-color: #d4e6e8; border-width: 1px 1px 1px 2px; border-style: solid; padding:20px;")
			%span(style="color:#6996a9; font-size:20px; font-family:'HelveticaNeue',Helvetica,Arial,sans-serif;")
				Date
				%br
				2-21-2014
		%td(align="left" style="border-color: #d4e6e8; border-width: 1px 2px 1px 1px; border-style: solid; padding:20px;")
			%span(style="color:#6996a9; font-size:20px; font-family:'HelveticaNeue',Helvetica,Arial,sans-serif;")
				Transaction ID
				%br
				3515150533
	%tr(bgcolor="#ffffff")
		%td(align="left" style="border-color: #d4e6e8; border-width: 1px 0 1px 2px; border-style: solid; padding:20px;")
			%span(style="color:#6996a9; font-size:20px; font-family:'HelveticaNeue',Helvetica,Arial,sans-serif;")
				Red T-shirt
		%td(align="right" style="border-color: #d4e6e8; border-width: 1px 2px 1px 0; border-style: solid; padding:20px;")
			%span(style="color:#6996a9; font-size:20px; font-family:'HelveticaNeue',Helvetica,Arial,sans-serif;")
				$25.00
	%tr(bgcolor="#ffffff")
		%td(align="left" style="border-color: #d4e6e8; border-width: 1px 0 1px 2px; border-style: solid; padding:20px;")
			%span(style="color:#6996a9; font-size:20px; font-family:'HelveticaNeue',Helvetica,Arial,sans-serif;")
				Grey T-shirt
		%td(align="right" style="border-color: #d4e6e8; border-width: 1px 2px 1px 0; border-style: solid; padding:20px;")
			%span(style="color:#6996a9; font-size:20px; font-family:'HelveticaNeue',Helvetica,Arial,sans-serif;")
				$25.00
	%tr(bgcolor="#ffffff")
		%td(align="left" style="border-color: #d4e6e8; border-width: 1px 0 2px 2px; border-style: solid; padding:20px; border-bottom-left-radius:4px;")
			%span(style="color:#6996a9; font-size:20px; font-family:'HelveticaNeue',Helvetica,Arial,sans-serif; font-weight:bold;")
				All Together
		%td(align="right" style="border-color: #d4e6e8; border-width: 1px 2px 2px 0; border-style: solid; padding:20px; border-bottom-right-radius:4px;")
			%span(style="color:#6996a9; font-size:20px; font-family:'HelveticaNeue',Helvetica,Arial,sans-serif; font-weight:bold;")
				$50.00
	%tr>
		%td(colspan="2" align="center" style="padding-top:25px; padding-bottom: 40px;")
			%span(style="color:#6996a9; font-size:18px; font-family:'HelveticaNeue',Helvetica,Arial,sans-serif;")
				From Jan Markeljc via OptimizePlayer