- content_for :title, "Settings"
%section(role="account")
  .page-body
    .row
      .twelve.columns
        #account
          .box-menu
            = render "account/shared/sidenav", {active: "integrations"}
            .right-content
              .header.clearfix
                .pull-left
                  %h3 New Integration
              .body.integrations(ng-controller="IntegrationCtrl" ng-cloak ng-init="init('new')")
                = render "form"