.row
  %label Client ID
  %input(placeholder="Client ID" ng-model="integration.api_credentials.client_id" type="text" required)
.row
  %label Client Secret
  %input(placeholder="Client Secret" ng-model="integration.api_credentials.client_secret" type="text" required)