.row
  %label Username
  %input(placeholder="Username" ng-model="integration.api_credentials.username" type="text" required)
.row
  %label API Key
  %input(placeholder="API Key" ng-model="integration.api_credentials.api_key" type="text" required)
.row
  %label Bucket
  %input(placeholder="Bucket" ng-model="integration.api_credentials.bucket" type="text" required)