.row
  %label Publishable Key
  %input(placeholder="Publishable Key" ng-model="integration.api_credentials.publishable_key" type="text" required)
.row
  %label Secret Key
  %input(placeholder="Secret Key" ng-model="integration.api_credentials.secret_key" type="text" required)