%div
  .widget-buttons
    %a.remove{href: "#"}(ng-click="removeWidget({{widget.id}})" prevent-default)
      %i.icon-remove
  .wg-content-wrapper
    .fb-like{"data-action" => "like", "data-href" => "{{widget.url}}", "data-share" => "true", "data-show-faces" => "true"}
