---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: plan=gratis&email=
    headers:
      Authorization:
      - Bearer sk_test_YiKztCOZH3PF2RiFlBVhK34y
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-01-31'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1401959145,
          "id": "cus_4AHN7hm3rkbUhr",
          "livemode": false,
          "description": null,
          "email": null,
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_4AHN7hm3rkbUhr/subscriptions",
            "data": [
              {
                "id": "sub_4AHNeigdtcnXKx",
                "plan": {
                  "interval": "month",
                  "name": "Gratis",
                  "created": 1401217951,
                  "amount": 0,
                  "currency": "usd",
                  "id": "gratis",
                  "object": "plan",
                  "livemode": false,
                  "interval_count": 1,
                  "trial_period_days": null,
                  "metadata": {},
                  "statement_description": null
                },
                "object": "subscription",
                "start": 1401959145,
                "status": "active",
                "customer": "cus_4AHN7hm3rkbUhr",
                "cancel_at_period_end": false,
                "current_period_start": 1401959145,
                "current_period_end": 1404551145,
                "ended_at": null,
                "trial_start": null,
                "trial_end": null,
                "canceled_at": null,
                "quantity": 1,
                "application_fee_percent": null,
                "discount": null,
                "metadata": {}
              }
            ],
            "count": 1
          },
          "discount": null,
          "account_balance": 0,
          "currency": "usd",
          "cards": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/customers/cus_4AHN7hm3rkbUhr/cards",
            "data": [],
            "count": 0
          },
          "default_card": null
        }
  recorded_at: Thu, 05 Jun 2014 09:05:46 GMT
recorded_with: VCR 2.9.2
