@import "compass/css3";
section[role=news] {
	#news {

		.steps {
			background: url('/assets/steps-bg-line.png') repeat-y 70px 0px transparent;

			.step {
				display: block;

				&:first-child {
					display: block;
				}
			}
		}

		.box {
			border: none;
			background: #f8f8f8;
			padding: 0 30px 30px 30px;
			margin: 0 0 40px 0;
			@include box-shadow(#5a5a5a 0px 2px 4px);

			&:last-child {
				margin-bottom: 0;
			}

			ul {
				list-style: none;

				li {
					display: inline-block;
					vertical-align: middle;
				}
			}
		}

		.box-header {
			color: #555555;

			.marker {
				display: block;
				width: 104px;
				height: 98px;
				margin: -9px 15px 0 -10px;
				padding-top: 14px;
				text-align: center;
				font-size: 16px;
				line-height: 21px;
				font-weight: bold;
				color: #fff;
				background: url('/assets/step-marker.png') no-repeat 0 0 transparent;

				.year {
					font-size: 15px;
					color: #6a9fdc;
				}
			}

			h3 {
				margin: 0 0 5px 0;
				font-size: 30px;
				color: #3e5779;
			}

			p {
				margin: 0;
			}
		}

		.box-body {
			padding-top: 15px;

			h2 {
				font-size: 20px;
			}

			ul {
				li {
					display: block;
					padding-left: 20px;
					margin-bottom: 5px;
					background: url('/assets/bullet-blue.png') no-repeat left center transparent;
				}
			}

			a:hover {
				text-decoration: underline;
			}
		}



		.breadcrumb {
			padding-bottom: 10px;
			margin-bottom: 15px;
			border-bottom: 1px solid #c3c3c3;
		}

		.news-inner {
			height: auto;
		}

		.comments {
			.col1 {
				width: 13%;
			}

			.col2 {
				width: 87%;
			}

			.social {
				span {
					vertical-align: 9px;
					margin-right: 10px;
				}
			}

			.comment {
				border-top: 1px solid #c3c3c3;
				padding-top: 20px;

				.photo {
					@include border-radius(4px);
				}

				.info {
					margin-bottom: 10px;
				}
			}
		}
	}
}